body {
  color: #000000;
  background: rgba(158, 240, 26, 0.75);

  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.profile-pic {
  margin-right: 5px;
  display: flex;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 54px;
}

h2 {
  font-size: 48px;
  color: #000000;
}

h2:hover {
  text-shadow: 0 0 5px #38b000, 0 0 5px #38b000;
}

.codesnippets {
  font-family: "DotGothic16", sans-serif;
  color: #000000;
  font-weight: bold;
  background: #252525;
  width: 100%;
  margin: 0;
  text-shadow: 0 0 5px #9ef01a, 0 0 5px #9ef01a;
}

.languagecontain {
  display: flex;
  font-size: 18px;
  margin-right: 100px;
  margin-left: 50px;
  font-family: "DotGothic16", sans-serif;
}

.langbtn {
  display: inline-block;
}

form {
  margin-right: 3px;
}

p {
  margin: 0 auto;
  margin-right: 10px;
  color: #004b23;
  font-weight: bold;
}

button {
  background: #ffffff;
  border-style: none;
  border-color: rgba(158, 240, 26);

  margin-right: 3px;
}
button:hover {
  background: rgba(158, 240, 26);
}
.account-buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0 10px;
  background: #252525;
  margin-bottom: 10px;
  padding: 10px;
}

.homepage {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

.snippet-box {
  max-width: 95%;
  margin: 0 auto;

  margin-bottom: 30px;
  padding-top: 0;
}

.user1 {
  text-align: start;
  padding-left: 50px;
  height: 50px;
  line-height: 50px;
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.user2 {
  text-align: start;
  vertical-align: middle;
  margin-right: 6px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

.admin-container {
  display: flex;
  flex-direction: row-wrap;
  max-width: fit-content;
  margin: 10px 10px;
}

.user-slice {
  margin: 25px 10px;
}

.admin-button {
  background-color: rgb(236, 243, 245);
}

pre {
  padding-top: 0px;
}

.scroller {
  position: -webkit-sticky;
  position: sticky;
  top: 0.1px;
}
