{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'prism.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core.css' %}">
    <link rel="stylesheet" href="{% static 'prism.css' %}">
    <title>Document</title>
</head>
<body>
    <a href='http://127.0.0.1:8000'>Home</a>
    
    <div class="account-buttons">
        <button class="user-button"><a href="http://127.0.0.1:8000/accounts/logout/">logout</a></button>
        <button class="user-button"><a href="http://127.0.0.1:8000/accounts/login/">login</a></button>
        {% if not user.is_authenticated %}
        <button class="user-button"><a href="http://127.0.0.1:8000/accounts/register/">Register</a></button>
        {% endif %}
    </div>
    
    
    {% block content %}

    {% endblock content %}
    
</body>
</html>