{% extends 'base.html' %}



{% block content %}
<p> This is the {{language}} page</p>

<form action="#" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" placeholder="Search..."></input>
</form>

{% for newlanguage in newlanguages %}
{% for snippet in snippets %}
{% if snippet.language == newlanguage %}
<pre><code class="language-{{language}}">{{snippet.code}}</code></pre>
<p>author: {{snippet.user}}</p>

{% if snippet.user.is_authenticated %}
{% if snippet.user == request.user %}
<button><a href="{% url 'edit-snippet' pk=snippet.pk%}">Edit Snippet</a></button>
<button><a href="{% url 'delete-snippet' pk=snippet.pk%}">Delete Snippet</a></button> 
{% endif %}
<button><a href="{% url 'save-snippet' pk=snippet.pk %}">Save Snippet</a></button>
<button><a href="{% url 'copy-snippet' pk=snippet.pk%}">Copy Snippet</a></button>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
<button><a href="{% url 'add-snippet' %}">Add New Snippet!</a></button>


{% endblock content %}