{% extends 'base.html' %}

{% block content %}

<form action="#" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" placeholder="Search..."></input>
</form>

{% for language in languages %}
<button><a href="{% url 'language_page' pk=language.pk %}">{{language}}</a></button>
{% endfor %}

{% for language in languages %}
{% for snippet in snippets %}
{% if snippet.language == language %}
<pre><code class="language-{{language}}">{{snippet.code}}</code></pre>

<button><a href="{% url 'copy-snippet' pk=snippet.pk%}">Copy Snippet</a></button>
<br>
{% if snippet.user == request.user %}
<button><a href="{% url 'edit-snippet' pk=snippet.pk%}">Edit Snippet</a></button>
<br>
<button><a href="{% url 'delete-snippet' pk=snippet.pk%}">Delete Snippet</a></button>
<br>
{% endif %}
{% endif %}

{% endfor %}






{% endfor %}

{% endblock content %}