{% extends 'base.html' %}

{% block content %}
<div class="languagecontain">
<form action="#" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" placeholder="Search..."></input>
</form>
{% for language in languages %}
<button><a href="{% url 'language-page' pk=language.pk %}">{{language}}</a></button> 
{% endfor %}
</div>

{% for profile in profiles %}
{% if user == profile.user %}
<div class="user1"><img class="user2" src="{{profile.image.url}}" width="40px" height="40px">
{{user}}'s code snippets:</div>
{% endif %}
{% endfor %}

<div class="snippet-box">
{% for language in languages %}
{% for snippet in snippets %}
{% if snippet.language == language %}
<div>
<pre><code class="language-{{language}}">{{snippet.code}}</code></pre>

<button><a href="{% url 'copy-snippet' pk=snippet.pk%}">Copy Snippet</a></button>

{% if snippet.user == request.user or request.user.is_superuser %}
<button><a href="{% url 'edit-snippet' pk=snippet.pk%}">Edit Snippet</a></button>

<button class="delete-button" id={{snippet.pk}} data-url="{% url 'delete-snippet' pk=snippet.pk %}">Destroy Snippet</button>
</div>
{% endif %}
{% endif %}

{% endfor %}




<footer><a href="{}"></a></footer>

{% endfor %}
</div>

{% endblock content %}