{% extends 'base.html' %}

{% block content %}

<form action="#" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" placeholder="Search..."></input>
</form>




{% for snippet in snippets %}
{{snippet.code}}
<div>language:</div>{{snippet.language}}
<button><a href="{% url 'copy-snippet' pk=snippet.pk%}">Copy Snippet</a></button>
<br>
{% if snippet.user == request.user %}
<button><a href="{% url 'edit-snippet' pk=snippet.pk%}">Edit Snippet</a></button>
<br>
<button><a href="{% url 'delete-snippet' pk=snippet.pk%}">Delete Snippet</a></button>
<br>
{% endif %}
{% endfor %}

{% endblock content %}